html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4d5c7;
    color: #186049;
    height: 100%;
}

.head {
    background-color: #186049;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.close-modal {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.close-modal:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

.close-modal:focus, .close-modal.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.close-modal:disabled, .close-modal.disabled {
    opacity: .65;
}

.refresh-modal {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #186049;
    border: 1px solid #186049;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.refresh-modal:hover {
    background-color: #247158;
    border-color: #247158;
}

.refresh-modal:focus, .refresh-modal.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.refresh-modal:disabled, .refresh-modal.disabled {
    opacity: .65;
}

.center {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: #e4d5c7;
    font-size: 2em;
}

h2 {
    color: #186049;
    font-size: 1.5em;
}

footer {
    background-color: #186049;
    padding: 20px;
    text-align: center;
    color: #e4d5c7;
    margin-top: auto;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.cont {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

a {
    color: #e4d5c7 !important;
    text-decoration: none !important;
}

a:hover {
    color: #b8a89b !important;
}

.fixed-size-button {
    width: 625px;
    height: 60px;
    margin: 0 -57px;
    background-color: #6ab29b;
    color: #e4d5c7;
    transition: background-color 0.3s ease;
}

.fixed-size-button:hover {
    background-color: #247158;
    color: #e4d5c7;
}

.answer {
    margin: 10px;
    padding: 15px 32px;
    background-color: #6ab29b;
    border: none;
    border-radius: 0px !important;
    color: #e4d5c7;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #e4d5c7;
    color: #186049;
}

input:focus {
    outline: none;
    border: 2px solid #6ab29b;
}

.join-game {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #186049;
    color: #e4d5c7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-game:hover {
    background-color: #247158;
}

button:hover {
    background-color: #247158;
    color: #e4d5c7;
}

.question {
    margin: 20px;
    padding: 20px;
    background-color: #e4d5c7;
    border-radius: 30px;
    border:2px solid#0c7530;
    text-align: center;
    color: #186049;
}

.display-games {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #247158;
    color: #e4d5c7;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.display-games:hover {
    background-color: #186049;
}

#alert {
    display: none;
    text-align: center;
    transition: all 0.3s ease;
}

@keyframes flash-background {
    0%, 50%, 100% { background-color: transparent; }
    25%, 75% { background-color: #3399ff; }
}

@keyframes flash-color {
    0%, 50%, 100% { color: #333333; }
    25%, 75% { color: #333333; }
}

@keyframes flash-border {
    0%, 50%, 100% { border-color: initial; }
    25%, 75% { border-color: #3399ff; }
}

.blue-flash {
    animation: flash-background 2s linear infinite, flash-color 2s linear infinite, flash-border 2s linear infinite;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.no-click {
    pointer-events: none;
}

.invisible {
    display: none;
}

body .progress-container {
    position: absolute;
    width: 75%;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

body .progress-container .progress {
    height: 10px;
    background-color: #e4d5c7;
}

body .progress-container .progress .progress-bar {
    background-color: #0c7530;
    transition: width 0.6s ease;
}

button.risposta:disabled {
    opacity: 0.9!important;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50px;
    height: 50px;
    border: 2px solid #0c7530;
    background-color: #b8a89b;
    color: #333333;
    font-size: 20px;
    border-radius: 50%;
}

/* Responsive design */
@media (min-width: 600px) {
    button {
        width: auto;
    }
}

@media (min-width: 600px) {
    h1, h2 {
        font-size: 1.5em;
    }
}